<div class="modal fade notification-modal" id="GeneralNotificationModal" tabindex="-1" role="dialog" aria-labelledby="GeneralNotificationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title">Notification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="notificationMessage">
                    <div class="text-center"><div class="spinner-border spinner-border-sm text-primary"></div></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-1" id="btnConfimationOK" action=""><span class="fal fa-check mr-1"></span>Confirm</button>
                <button id="btnCloseModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><span class="fal fa-times mr-1"></span>Ok</button>
            </div>
        </div>
    </div>
</div>