@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        .dashboard-card{
            background-color: #125a31;
            color: white;
        }
    </style>
}

<div class="text-center container">
    
    <div class="row">
        <h1 class="display-4">Dashboard</h1>
    </div>
    
    <br />
    
    <div class="row">
        
        <div class="col-2">

        </div>

        <div class="col-4">

            <span style="float:left">Brand</span>
            <div class="form-group">
                
                <select id="brand" asp-items="@((List<SelectListItem>)ViewData["Brands"])" class="form-control">
                </select>

            </div>

        </div>

        <div class="col-4">

            <span style="float:left">Date</span>
            <div class="form-group">
                <input type="text" id="date-range" class="form-control"/>
            </div>
            
        </div>

        
        <div class="col-2">

        </div>

    </div>

    <br />
    <br />
    <br />

    <div class="row">

        <div class="col-3">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header dashboard-card">Raw</div>
              <div class="card-body dashboard-card">
                <h5 class="card-title" id="raw-images"></h5>
              </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header dashboard-card">Completed</div>
              <div class="card-body dashboard-card">
                <h5 class="card-title" id="completed-images"></h5>
              </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header dashboard-card">Rejected</div>
              <div class="card-body dashboard-card">
                <h5 class="card-title" id="rejected-images"></h5>
              </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header dashboard-card">Pending</div>
              <div class="card-body dashboard-card">
                <h5 class="card-title" id="pending-images"></h5>
              </div>
            </div>
        </div>

    </div>


</div>


@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>

        function dateFilteredData(dateRange, brand){
            debugger
            console.log(dateRange);

            $.ajax({
            url: `/Home/GetReportData?dateRange=${dateRange}&brand=${brand}`,
            method: 'GET',
            success: function (data) {
                if (data.isSuccess) {
                    $("#raw-images").text(data.result.raw + " image" + (data.result.raw > 1 ? "s" : "") );
                    $("#completed-images").text(data.result.completed + " image" + (data.result.completed > 1 ? "s" : "") );
                    $("#pending-images").text(data.result.pending + " image" + (data.result.pending > 1 ? "s" : "") );
                    $("#rejected-images").text(data.result.rejected + " image" + (data.result.rejected > 1 ? "s" : "") );
                    
                }
            },
            error: function (res) {

            }
        });
        }

        $(document).ready(function(){
            var winHeight = $(window).height();
            winHeight = winHeight - 150;

            $(".container").css("height", winHeight);
            

            $("#date-range").daterangepicker({
                "applyButtonClasses" : 'btn-primary',
                "opens": 'left',
                "startDate": moment(),
                "endDate": moment(),
                "autoApply": true,
                "maxDate": moment(),
                "locale": {
                    "format": 'DD MMM YYYY',
                    "applyLabel": "Apply",
                }
            });

            $("#date-range").html(moment().format("DD MMM YYYY") + " - " + moment().format("DD MMM YYYY"));

            $('#date-range').on('apply.daterangepicker', function (ev, picker) {
                let daterangeInputValue = $("#date-range").val();
                let brand = $("#brand").val();

                dateFilteredData(daterangeInputValue, brand);
            });

            $("#brand").on("change", function(){
                let daterangeInputValue = $("#date-range").val();
                let brand = $("#brand").val();

                dateFilteredData(daterangeInputValue, brand);
            });

            dateFilteredData($("#date-range").val(), $("#brand").val());
        });

    </script>

}

